* {
  margin: 0;
  padding: 0;
}
.fl {
  display: flex;
}

.fl-wrap {
  flex-wrap: wrap;
}

.justify-start {
  justify-content: flex-start;
}

main {
  max-width: 620px;
  margin: 0 auto;
  padding: 10px;
  margin: 0 auto;
}

article {
  background-color: grey;
  width: 100px;
  height: 200px;
  margin: 10px;
}
